html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
}

a img {
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
  
    &.scroll {
      overflow: visible;
    }
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  :root {
    font-size: 16px;
    --color-text: #fffbf5;
    --color-bg: #ff00007e;
    --color-link: #fffbf5;
    --color-link-hover: #fffbf5;
  }
  
  body {
    margin: 0;
    color: var(--color-text);
    font-family: 'degular', sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body,
  html {
    width: 100%;
    height: 100%;
  }
  
  
  @keyframes loaderAnim {
    to {
      opacity: 1;
      transform: scale3d(0.5, 0.5, 1);
    }
  }
  
  body #cdawrap {
    justify-self: start;
  }
  
  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .dg.ac {
    display: none;
  }

  /* TITLE */
  #title {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-variant: small-caps;
    line-height: 1.5;
    
    background-color: white;
    color: blue;
    border: solid 2px yellow;

    position: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    width: 75%;
    min-height: 30px;
    padding: 10px;
    border-radius: 15px;
    top: 25%;
    left: 12.5%;

    transform: rotate(-10deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }